.borde {
    background-color: #3f3c3c;
    box-shadow: 4px 6px 8px 6px rgba(0, 0, 0, 0.2);
    max-width: 10cm;
    height: 10cm;
    margin: auto;
}

h2 {
    color: rgb(238, 207, 225);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type=text] {
    width: 75%;
    align: center;
}